#root, .App {
  width: 100%;
  height: 100%;
}

.App .logo {
  height: 32px;
  background: rgba(255, 255, 255, .2);
  margin: 16px;
}

.ant-menu-item > span {
  display: inline-block;
  width: 85px;
}

.ant-menu-item > span.trans-pan {
  width: 100px;
}

.ant-layout-header > h1 {
  color: #fff;
  text-align: center;
}

.ant-menu-control {
  color: rgba(255, 255, 255, 0.65);
}

.ant-menu-control:hover {
  color: #fff;
}
.subMenu .ant-menu-sub.ant-menu-inline > .ant-menu-item{
  height: 35px;
  margin-top: 0;
  margin-bottom: 0;
}
.transCheck {
  padding-right: 10px;
}

.setting-item {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.setting button {
  height: 25px;
  width: 70%;
  color: black;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}
#fileInput {
  display: none;
}